*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

a{
    text-decoration: none;
}

ul,li,ol{
    list-style: none;
}

/* header part css */
header{
    background: #e3e3e3;
    padding: 40px 0 21px 0;
}

header .nav-links ul{
    float: right;
}

header .nav-links ul li{
    display: inline-block;

}

.nav-links ul li a{
    padding: 0 20px;
    color: #4e4e4e;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-links ul li:hover a{
    color: #1abb9c;
}


.banner{
    background-image: url("../img/banner-bg.png");
    width: 100%;
    /* height: 400px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-content{
    text-align: center;
    padding: 180px 90px 190px 90px;
}

.banner-content h2{
    color: #f3f3f3;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 37px;
    /* width: 884px; */
}

.banner-content h3{
    color: #a8a8a8;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 30px;
    margin-top: 40px;
}

.banner-content button{
    /* display: inline-block; */
    width: 140px;
    height: 45px;
    background-color: #3f8dbf;
    color: #f3f8fb;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid #3678a3;
    border-radius: 3px;
   
    margin-top: 40px;
}

/* journal css */

.journal{
    text-align: center;
    padding: 60px 0;
    position: relative;
}

.journal .journal-img{
    /* position: absolute;
    top: 20%;
    left: 30%; */
    margin-left: 30%;
    background: #9d9abf;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 85px;
}

.img-des{
    padding-top: 27px;
}

.img-des h3{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 700;
}

.img-des p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #8f8f8f;
    margin-top: 14px;
}

#clock{
    
    background: #d2514b;
}

#boiler{
    background: #66a3c6;
}
#camera{
    background-color: #e8c04f;
}

#container{
    border-bottom: 2px solid #dcdcdc;
    padding-bottom: 55px;
}

/* project section css */
#col-head h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.img-des h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
}
.img-des h5{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 13px;
}
.img-des p{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 13px;
}
.pro-img img{
   width: 360px;
   height: 240px;
}

/* little-des css */
.little-des{
    background-color: #efefef;
}
.comma{
    /* background: #000; */
    text-align: center;
    padding: 56px 0 69px 0;
}

.comma p{
    max-width: 730px;
    margin-left: 20%;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: 300;
    color: #b5b5b5;
}

/* footer css */
.footer{
    background-color: #1e1e1e;
    padding: 50px 0 0 0;
}

.footer h3{
    color: #6c6c6c;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.footer p{
    color: #cacaca;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.icon{
    width: 20%;
    float: left;
}
.icon-des{
    width: 80%;
    float: left;
}

.icon ul li:nth-child(2){
    margin-top: 37px;
    /* margin-top: 15px; */
}
.icon-des ul li{
    color: #6c6c6c;
    font-family: 'Roboto Condensed', sans-serif;
}

.icon-des ul li:nth-child(2){
    margin-top: 15px;
}

#icon ul li:nth-child(2){
    margin-top: 107px;

}

#icon ul li:nth-child(3){
    margin-top: 82px;
}

#icon ul li a{
    color: #a89574;
}

#icon-des ul li:nth-child(2),
#icon-des ul li:nth-child(3){
    margin-top: 34px;
}

#border-btm{
    padding-bottom: 53px;
    border-bottom: 2px solid #353535;
}

#f-last{
    padding: 47px 0;
    
}

.f-last p{
    color:  #6c6c6c;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 300;
}